body {
    background-color: #2B2B2B;
    font-family: arial;
}

#wrapper {
	width: 70%; 
	margin-right: auto; 
	margin-left: auto; 
	/*border: thin solid;*/
}

#header {
    height: 20%; 
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
	background-color: #DE1B1B;
    padding-top: 10px; 
}

#main-content {
	width: 99%;
	float: left; 
    background-color: #fff;
    padding-left: 1%;
}


#footer {
	height: 40px;
    clear: both;
    color: white;
    background-color: #333;
}

#nav {
    background-color: #333;
}

#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}

#nav li {
    float: left;
}

#nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#nav li a:hover {
    background-color: #111;
}

.active {
    background-color: #111;
}

.btn-viewmore {
    background-color: #DE1B1B;
    color: white;
    width: 175px; 
    height: 50px; 
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    float: right;
}

.btn {
    width: 100px; 
    height: 25px; 
    background-color: #DE1B1B; 
    color: white;
   
    
}

ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: white;
}
ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}
ul.breadcrumb li a {
    color: #DE1B1B;
    text-decoration: none;
}
ul.breadcrumb li a:hover {
    color: #DE1B1B;
    text-decoration: underline;
}

#main-exhibit-left {
	width: 25%; 
    height: 500px; 
    margin-left: 10%;
	float: left; 
}

#main-exhibit-center {
	width: 25%; 
    height: 500px; 
    margin-left: 2.5%;
	float: left; 
}


#main-exhibit-right {
    width: 25%; 
    height: 500px; 
    margin-right: 10%;
	float: right;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
}

/* Add rounded corners to the top left and the top right corner of the image */
.card img {
    border-radius: 5px 5px 0 0;
}

.container {
    padding: 2px 16px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}